<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<h1>Уинстон черчилль</h1>
<img src="https://clck.ru/34MqtM" alt="Изображение" />
<p><strong>Привет, я бывший <em>премьер-министр Великобритании</em>, а это <a href="https://clck.ru/Eritn">моя страничка</a>!</strong></p>
<p>О себе могу сказать так: я <ins>журналист</ins>, <ins>писатель</ins>, <ins>художник</ins>, <ins>почётный член Британской академии</ins>.</p>
<p>В <mark>1940 - 1945</mark> время было нелёгкое, но мы со всем справились!</p>
<p>Буду рад, если вы поставите <del>класс</del> или +5 на моей аватарке!</p>
</body>
</html>